@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

@font-face {
  font-family: Chloe;
  src: url('./fonte/Chloe-Regular.otf');
}

.patua-one-regular {
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #dde9f1;
}

#nav-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 80px;
  height: 100%;
  background-color: #022135;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

}

#nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav-bar li {
  text-align: center;
  text-decoration: none;
  border: transparent;
}

#nav-bar a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

#nav-bar img {
  width: 30px;
  height: 30px;
}

#nav-bar span {
  font-family: Chloe;
  color: #dde9f1;
  font-size: 18px;
  position: relative;
  top: 80px;
  text-align: center;
}

#nav-bar .botao {
  position: relative;
  top: 20px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

#nav-bar .logo {
  position: relative;
  bottom: 25px;
  width: 80px;
  height: 80px;
}

#nav-bar .nome {
  width: 250px;
  height: 50px;
  background-color: #bc1823;
  margin-left: 170px;
  font-family: Chloe;
  font-size: 30px;
  position: relative;
  bottom: 80px;
  color: #FEF3EA;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.conteudo {
  max-height: 695px;
  max-width: 1456px;
  margin-left: 80px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.dash-quiz {
  display: flex;
  flex-direction: column;
}

.box {
  background-color: #FEF3EA;
  width: 800px;
  height: 350px;
  border-radius: 30px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  margin-top: 15px;
}

.box h1 {
  color: #022135;
  font-family: "Patua One", serif;
  font-size: 25px;
  text-align: center;
}

.campos-ranking {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  bottom: 20px;
}

.linhas-ranking {
  width: 400px;
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.posicao {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #bc1823;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Baloo 2';
  color: #FEF3EA;
  font-weight: 600;
  font-size: 25px;
  position: relative;
  left: 30px;
  
}

.campos-ranking .nome {
  width: 250px;
  height: 35px;
  background-color: #022135cc;
  border-radius: 30px;
  color: #FEF3EA;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Baloo 2';
  font-weight: 600;
}

.pontuacao {
  width: 50px;
  height: 35px;
  position: relative;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: #022135;
  border-radius: 40px;
  font-family: 'Baloo 2';
}

.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FEF3EA;
  width: 800px;
  height: 300px;
  border-radius: 30px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
}

.indicadores {
  background-color: #022135;
  width: 200px;
  height: 610px;
  border-radius: 30px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  margin-left: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.indicadores p {
  color: #FEF3EA;
  font-family: "Patua One", serif;
  font-size: 25px;
  text-align: center;

}

.img-indicadores {
  width: 30px;
  height: 30px;
  position: relative;
  bottom: 18px;
}

.cidade-ind {
  font-family: 'Baloo 2';
  color: #dde9f1;
  font-size: 30px;
  font-weight: 600;
}

.num-ind {
  font-family: 'Baloo 2';
  color: #bc1823;
  font-size: 35px;
  font-weight: 600;
  bottom: 30px;
}