@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

@font-face {
  font-family: Chloe;
  src: url('./fonte/Chloe-Regular.otf');
}

body {
  background-color: #dde9f1;
}

#nav-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 80px;
  height: 100%;
  background-color: #022135;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

}

#nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav-bar li {
  text-align: center;
  text-decoration: none;
  border: transparent;
}

#nav-bar a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

#nav-bar img {
  width: 30px;
  height: 30px;
}

#nav-bar span {
  font-family: Chloe;
  color: #dde9f1;
  font-size: 18px;
  position: relative;
  top: 80px;
  text-align: center;
}

#nav-bar .botao {
  position: relative;
  top: 20px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

#nav-bar .logo {
  position: relative;
  bottom: 25px;
  width: 80px;
  height: 80px;
}

#nav-bar .nome {
  width: 250px;
  height: 50px;
  background-color: #bc1823;
  margin-left: 170px;
  font-family: Chloe;
  font-size: 30px;
  position: relative;
  bottom: 80px;
  color: #FEF3EA;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);

}

.conteudo {
  max-height: 2000px;
  max-width: 1456px;
  margin-left: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.conteudo h1 {
  margin: 0;
  font-family: Chloe;
  margin-top: 100px;
  font-size: 50px;
  text-align: center;
  color: #560216;
  position: relative;
  bottom: 40px;
}

.box1 {
  background-color: #FEF3EA;
  width: 1000px;
  height: 350px;
  margin: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  position: relative;
  bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.box1 img {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.box1 p {
  font-family: 'Baloo 2';
  color: #022135;
  font-size: 15px;
  font-weight: 700;
}

.box2 {
  background-color: #FEF3EA;
  width: 1000px;
  height: 150px;
  margin: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  position: relative;
  bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.box2 p {
  font-family: 'Baloo 2';
  color: #022135;
  font-size: 15px;
  font-weight: 700;
  margin: 20px 20px 10px;
}

.box2 textarea {
  width: 900px;
  height: 150px;
  background-color: #022135;
  border: none;
  margin: 0 auto 20px;
  border-radius: 20px;
  color: #FEF3EA;
  padding: 10px;
  resize: none;
}

.box2 textarea:focus {
  border: 0px transparent;
}

.postar {
  width: 50px;
  height: 50px;
  position: relative;
  bottom: 60px;
  left: 480px;
  cursor: pointer;
}