@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

@font-face {
  font-family: Chloe;
  src: url('./fonte/Chloe-Regular.otf');
}

body {
  background-color: #dde9f1;
  padding: 0;
  margin: 0;
}

#nav-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 80px;
  height: 100%;
  background-color: #022135;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav-bar li {
  text-align: center;
  text-decoration: none;
  border: transparent;
}

#nav-bar a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

#nav-bar img {
  width: 30px;
  height: 30px;
}

#nav-bar span {
  font-family: Chloe;
  color: #dde9f1;
  font-size: 18px;
  position: relative;
  top: 80px;
  text-align: center;
}

#nav-bar .botao {
  position: relative;
  top: 20px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

#nav-bar .logo {
  position: relative;
  bottom: 25px;
  width: 80px;
  height: 80px;
}

#nav-bar .nome {
  width: 250px;
  height: 50px;
  background-color: #bc1823;
  margin-left: 170px;
  font-family: Chloe;
  font-size: 30px;
  position: relative;
  bottom: 80px;
  color: #FEF3EA;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.conteudo {
  max-height: 695px;
  max-width: 1456px;
  margin-left: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.titulo {
  margin: 0;
  font-family: Chloe;
  margin-top: 100px;
  font-size: 50px;
  text-align: center;
  color: #560216;
}

.box {
  background-color: #FEF3EA;
  width: 800px;
  height: 450px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box img {
  margin-top: 15px;
  width: 50px;
  height: 50px;
}

.pergunta {
  font-family: 'Baloo 2';
  color: #022135;
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}

.caixa-resposta {
  width: 700px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  top: 15px;
}

.resposta {
  background-color: #022135;
  color: #FEF3EA;
  font-family: 'Baloo 2';
  font-size: 20px;
  width: 300px;
  height: 80px;
  border-radius: 30px;
  margin: 10px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;
}

.resposta.correct {
  background-color: #7bb7e0;
}

.resposta.incorrect {
  background-color: #bc1823;
}

.passar-pergunta img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: relative;
  bottom: 20px;
}
