@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

@font-face {
    font-family: Chloe;
    src: url('../assets/fonte/Chloe-Regular.otf');
}

.patua-one-regular {
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
}


* {
    margin: 0;
    scroll-behavior: smooth;
}

.container1 {
    display: flex;
    background-image: url(../assets/img/header.png);
    width: 100%;
    height: 1000px;
    z-index: -1;
    justify-content: center;
    background-position-x: -290px;
    flex-direction: column;
    align-items: center;
}

header {
    position: absolute;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;

}

.logo {
    width: 300px;
    height: 60px;

}

.titulo-home h1 {
    font-family: Chloe;
    font-size: 150px;
    color: rgba(221, 233, 241, 0.5);
    margin-left: 400px;
    margin-bottom: 100px;
}

.nav-bar {
    background-color: rgba(221, 233, 241, 0.57);
    position: absolute;
    width: 980px;
    height: 50px;
    border-radius: 30px;
    left: 520px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);

}

.nav-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;


}

.nav-list a {
    letter-spacing: 1px;
    color: #FEF3EA;
    text-decoration: none;
    transition: 0.3s;
    font-size: 18px;
    list-style-type: none;
    font-family: 'Baloo 2';
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    margin-right: 32px;
    display: flex;
    align-items: center;

}

.nav-button {
    background-color: #560216;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    font-family: 'Baloo 2';
    font-weight: 600;
    color: #fef3ea;
    width: 130px;
    height: 40px;
    cursor: pointer;
}

.visto {
    display: flex;
    justify-content: center;
    align-items: center;

}

.titulo {
    top: 100px;
    font-size: 96px;
    font-family: Chloe;
    color: #022135;
}

.imagem-folha {
    width: 80px;
    height: 80px;
    position: relative;
    top: 20px;
}

.boxes {
    margin-left: 13.5rem;
    margin-right: 13.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

}

.card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: #022135;
    width: 400px;
    height: 550px;
    position: relative;
    top: 150px;
    margin: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);


}

.circulo {
    background-color: rgba(221, 233, 241, 0.57);
    width: 250px;
    height: 250px;
    border-radius: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 140px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);

}

.circulo img {
    width: 169px;
    height: 169px;
}

.card p {
    font-family: 'Baloo 2';
    font-size: 35px;
    color: #FEF3EA;
    position: relative;
    bottom: 130px;
}

.card span {
    font-family: 'Baloo 2';
    font-size: 24px;
    color: #FEF3EA;
    position: relative;
    bottom: 100px;
    text-align: center;
}

.container2 {
    display: flex;
    width: 100%;
    height: 1000px;
    flex-direction: column;
    align-items: center;
}

.container3 {
    display: flex;
    width: 100%;
    height: 980px;
    flex-direction: column;
    align-items: center;
    background-color: #560216;
}

.titulo-c3 {
    top: 100px;
    font-size: 96px;
    font-family: Chloe;
    color: #FEF3EA;
    margin-bottom: 25px;
}

.carrossel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    max-width: 100px;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #560216;
}

.carousel-image {
    display: none;
    width: 90%;
}

.carousel-image.active {
    display: block;
}

.box-c3 button {
    position: absolute;
    transform: translateY(-600%);
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 50px;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button:focus {
    outline: none;
}


.container3 i {
    transform: scale(3.0);
}

.container4 {
    display: flex;
    width: 100%;
    height: 1020px;
    flex-direction: column;
    align-items: center;
}

.container4 h1 {
    font-size: 80px;
    position: relative;
    top: 10px;
    bottom: 20px;
    margin-bottom: 20px;
}

.subtitulo-c4 {
    font-size: 25px;
    position: relative;
    bottom: 20px;
    font-family: 'Baloo 2', serif;
    color: #560216;
    letter-spacing: 2px;
    font-weight: bold;
}

.box-c4 {
    width: 450px;
    height: 550px;
    background-color: #DDE9F1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    font-family: 'Baloo 2', serif;
    font-size: 24px;
    color: #022135;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}


.box-c4 input {
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 30px;
    background-color: #FEF3EA;
    text-align: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.box-c4 ::placeholder {
    font-family: 'Baloo 2', serif;
    font-size: 20px;
    color: rgba(2, 33, 53, 0.5);
}

.box-c4 select {
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 30px;
    background-color: #FEF3EA;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.box-c4 option {
    font-family: 'Baloo 2', serif;
    font-size: 20px;
    color: rgba(2, 33, 53, 0.5);
    text-align: center;
    border-radius: 80px;
    background-color: #FEF3EA;

}

.box-c4 option::after {
    background-color: #560216;
}

.box-c4 button {
    background-color: #BC1823;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    font-family: 'Baloo 2';
    font-weight: 600;
    color: #fef3ea;
    width: 150px;
    height: 60px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}


.box-c4 button:hover {
    color: #dde9f1;
    transition: 1s;
    background-color: #022135;
}

.box-c4-b {
    background-color: #DDE9F1;
    width: 800px;
    height: 550px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 30px;
}

.box-l {
    width: 50%;
    height: 550px;
    background-color: #DDE9F1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    font-family: 'Baloo 2', serif;
    font-size: 24px;
    color: #022135;
}

.box-l p {
    color: #BC1823;
    font-size: 27px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 10px;

}

.box-l .resultado {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 80%;
    background-color: #FEF3EA;
    border-radius: 30px;
    margin-bottom: 5px;
}

.box-l small {
    text-align: center;
    font-size: 14px;
    color: rgba(2, 33, 53, 0.5);
    width: 250px;
}

.box-r {
    width: 50%;
    height: 550px;
    background-color: #022135;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    font-family: 'Baloo 2', serif;
    font-size: 24px;
    color: #DDE9F1;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.box-r b {
    font-size: 30px;
}


.box-r p {
    color: #BC1823;
    font-weight: 600;
    font-size: 35px;
}

.box-r span {
    text-align: center;
    font-size: 25px;
    width: 300px;
}

.box-r button {
    cursor: pointer;
    background-color: #BC1823;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    font-family: 'Baloo 2';
    font-weight: 600;
    color: #fef3ea;
    width: 150px;
    height: 50px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.container5 {
    display: flex;
    width: 100%;
    height: 1000px;
    flex-direction: column;
    align-items: center;
    background-color: #022135;
}

.container5 h1 {
    color: #FEF3EA;
    top: 100px;
    font-size: 96px;
    font-family: Chloe;
    margin-bottom: 25px;
}

.container5 span {
    font-size: 25px;
    font-family: 'Baloo 2', serif;
    color: #FEF3EA;
    letter-spacing: 2px;
}

.box-c5 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 600px;

}

.card-c5 {
    width: 350px;
    height: 500px;
    background-color: #FEF3EA;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    transition: 1s;
    line-height: 35px;

}

.card-c5:hover {
    transform: scale(1.1);
}

.card-c5 p {
    font-size: 35px;
    font-family: 'Baloo 2', serif;
    color: #560216;
    font-weight: 700;
    text-align: center;
}

.container5 button {
    background-color: #560216;
    border-radius: 30px;
    border: none;
    font-size: 40px;
    font-family: 'Baloo 2';
    font-weight: 600;
    color: #fef3ea;
    width: 450px;
    height: 80px;
    cursor: pointer;
}

.box-c5 img {
    width: 200px;
    height: 200px;
    margin-top: 30px;
    margin-bottom: 70px;

}

.container6 {
    background-color: #dde9f1;
    display: flex;
    width: 100%;
    height: 650px;
    flex-direction: column;
    align-items: center;
}

.box-c6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 1200px;
    height: 500px;
}

.box-c6 img {
    width: 350px;
    height: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    margin-right: 50px;
}


.box-c6 span {
    font-family: 'Baloo 2', serif;
    color: #560216;
    font-weight: 600;
    font-size: 23px;
}
